target
.project
.classpath
.settings
.idea
*.iml
*.chain
*.spvchain
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
local.properties
.classpath
.project
.settings/
.idea/
bin/
gen/
*.swp
.*.swo
